<!--Homepage-->
<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> New York Times News Scraper</h1>
             <h2> Click the news title for reading whole article. </article></h2>
        </div>

    </div>
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="https://www.nytimes.com{{this.link}}" target="_blank"><h4>{{this.title}}</h4></a>
                </div>
                <div class="panel-body">
                    <p> <h5>Summary :</h5> {{this.summary}}</p>
                    <img src={{this.img}}>
                    <br><br>
                    <!-- Button -->
                    <button type="button" class="btn btn-default save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>Sorry, it looks like we don't have any new articles.</h4>
            </div>
         </div>
        {{/if}}
    </div>
</div>